---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Bakım & Onarım Hizmetleri" category="Servisler" categoryUrl="/servisler/">
  <p>Asansörlerinizin kesintisiz, güvenli ve uzun ömürlü çalışması için düzenli periyodik bakım şarttır. Aylık bakımlar, olası arızaların önüne geçerek parça ömrünü uzatır ve yolcu güvenliğini sağlar.</p>
  <p>Tekin As Asansör olarak, bünyemizdeki asansörlerin yanı sıra diğer marka ve model asansörler için de profesyonel bakım hizmeti sunmaktayız.</p>
  <ul>
    <li>Aylık periyodik bakım hizmeti</li>
    <li>7/24 acil servis ve arıza müdahalesi</li>
    <li>Orijinal yedek parça temini ve değişimi</li>
  </ul>
</SubpageLayout>
