---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Revizyon Hizmetleri" category="Servisler" categoryUrl="/servisler/">
  <p>Zamanla yıpranan, sık arıza veren, teknolojik olarak eskiyen ve güncel güvenlik standartlarını karşılamayan (kırmızı/sarı etiketli) asansörlerinizin modernizasyonu (revizyonu) hizmetidir.</p>
  <p>Revizyon işlemi ile asansörleriniz yeni yönetmeliklere uygun hale getirilir, enerji tasarrufu sağlanır ve estetik olarak yenilenir.</p>
  <ul>
    <li>Güvenlik standartlarının güncel yönetmeliklere uyarlanması</li>
    <li>Enerji verimli yeni nesil motor ve kontrol sistemleri ile değişim</li>
    <li>Kabin içi, kapılar ve kuyu içi bileşenlerin modernizasyonu</li>
    <li>Asansör değerinin ve bina prestijinin artırılması</li>
  </ul>
</SubpageLayout>
