---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Araç Asansörü" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Otopark alanı yetersiz olan binalarda, araç plazalarında ve çok katlı otoparklarda araçların katlar arası taşınmasını sağlayan yüksek kapasiteli asansörlerdir.</p>
  <p>Bina içinde rampa yapımına gerek kalmadığından önemli ölçüde alan tasarrufu sağlar.</p>
  <ul>
    <li>3000 kg'dan 6000 kg'a kadar taşıma kapasitesi</li>
    <li>Araçların kolay giriş-çıkışını sağlayan geniş kabin ve kapı ebatları</li>
    <li>Trafik ışıklı yönlendirme sistemleri</li>
  </ul>
</SubpageLayout>
