---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Engelli Platformları" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Fiziksel engelli bireylerin merdiven ve kot farkı olan alanlarda erişimini sağlamak için üretilen mekanizmalardır.</p>
  <p>Kuyu gerektirmeyen, doğrudan merdiven kenarına veya mevcut boşluklara monte edilebilen açık veya kapalı tip platformlardır.</p>
  <ul>
    <li>Düşük hızda (maks. 0.15 m/s) güvenli çalışma</li>
    <li>Sürekli basılı tutularak çalışan kontrol panelleri</li>
    <li>Tekerlekli sandalyeye uygun genişlik ve rampa</li>
  </ul>
</SubpageLayout>
