---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="İnsan (Yolcu) Asansörü" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Konutlar, ofisler, oteller ve alışveriş merkezleri gibi insan trafiğinin yoğun olduğu binalarda kullanılan standart asansör modelleridir.</p>
  <p>Tasarımında konfor, hız ve güvenlik ön planda tutulur. Kapasiteleri genellikle 4 kişiden (320 kg) başlayıp 21 kişiye (1600 kg) kadar çıkabilmektedir.</p>
  <ul>
    <li>Konforlu ve sarsıntısız seyir</li>
    <li>Estetik kabin tasarımları (Paslanmaz çelik, laminant, cam vb.)</li>
    <li>Geniş iç hacim ve engelli erişimine uygun modeller</li>
  </ul>
</SubpageLayout>
