---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Monşarj (Yemek) Asansörü" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Restoranlar, oteller, hastaneler, kütüphaneler ve villalarda yemek, tepsi, kitap veya küçük yükleri taşımak amacıyla kullanılan küçük boyutlu asansörlerdir.</p>
  <p>İnsan taşımasına uygun değildir. Genellikle 50 kg ile 300 kg arası taşıma kapasitesine sahiptir.</p>
  <ul>
    <li>Hijyenik ortamlar için 304 kalite paslanmaz çelik kabin</li>
    <li>Giyotin tip kapılarla yer tasarrufu</li>
    <li>Hızlı ve sessiz çalışma</li>
  </ul>
</SubpageLayout>
