---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Sedye Asansörleri" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Hastane, poliklinik ve bakım evlerinde hastaların sedye veya tekerlekli sandalye ile taşınmasını sağlamak için özel olarak tasarlanmış asansörlerdir.</p>
  <p>Kabine bir sedyenin ve refakatçilerin rahatlıkla sığabileceği genişlik ve derinliğe sahiptir. Sarsıntısız ve yumuşak hareket kabiliyeti hayati önem taşır.</p>
  <ul>
    <li>Standartlara uygun 1600 kg, 2000 kg, 2500 kg kapasite seçenekleri</li>
    <li>Anti-bakteriyel kabin kaplamaları ve zemin malzemeleri</li>
    <li>Elektrik kesintisinde acil kurtarma ve jeneratör uyumu</li>
  </ul>
</SubpageLayout>
