---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Yük Asansörü" category="Asansör Modelleri" categoryUrl="/modeller/">
  <p>Fabrikalar, depolar, alışveriş merkezleri ve hastaneler gibi ağır yüklerin taşınması gereken alanlarda kullanılan, taşıma kapasitesi yüksek asansörlerdir.</p>
  <p>630 kg'dan başlayıp 10.000 kg ve üzeri kapasitelere kadar üretilebilmektedir. Kabin içi genellikle darbelere dayanıklı malzemelerden imal edilir.</p>
  <ul>
    <li>Ekstra güçlendirilmiş kabin tabanı ve duvarları</li>
    <li>Geniş kapı açıklığı (Çift kanatlı veya sürgülü kapılar)</li>
    <li>Ağır çalışma şartlarına uygun dayanıklı yapı</li>
  </ul>
</SubpageLayout>
