---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Hidrolik Asansör" category="Asansör Tipleri" categoryUrl="/asansor-tipleri/">
  <p>Hidrolik asansörler, kabinin bir hidrolik piston yardımıyla itilerek hareket ettirildiği sistemlerdir. Makine dairesi kuyu üzerinde değil, genellikle zemin katta veya kuyu yakınında bulunur.</p>
  <p>Genellikle az katlı binalarda (2-6 kat), yük taşıma kapasitesinin yüksek olması gereken sanayi tesislerinde, otoparklarda ve villalarda tercih edilir.</p>
  <ul>
    <li>Yüksek taşıma kapasitesi</li>
    <li>Bina çatısına yük bindirmez</li>
    <li>Elektrik kesintilerinde güvenli tahliye imkanı</li>
    <li>Sessiz ve pürüzsüz kalkış/duruş konforu</li>
  </ul>
</SubpageLayout>
