---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Makine Dairesiz (MRL) Asansör" category="Asansör Tipleri" categoryUrl="/asansor-tipleri/">
  <p>Makine dairesiz (Machine Room-Less veya MRL) asansörler, tahrik makinesinin asansör kuyusu içine monte edildiği, ayrı bir makine dairesine ihtiyaç duymayan modern asansör sistemleridir.</p>
  <p>Bina çatısında veya bodrum katında makine dairesi için ayrılması gereken alandan tasarruf sağlar. Dişlisiz (gearless) makine motor teknolojisi ile yüksek enerji verimliliği sunar.</p>
  <ul>
    <li>Bina hacminden tasarruf sağlar</li>
    <li>Sessiz ve titreşimsiz çalışma</li>
    <li>Geleneksel sistemlere göre %40'a varan enerji tasarrufu</li>
    <li>Çevre dostu (yağ kullanımı gerektirmez)</li>
  </ul>
</SubpageLayout>
