---
import SubpageLayout from '../../layouts/SubpageLayout.astro';
---
<SubpageLayout title="Makine Daireli Asansörler" category="Asansör Tipleri" categoryUrl="/asansor-tipleri/">
  <p>Makine daireli asansörler, tahrik makinesinin asansör kuyusunun üzerinde veya yanında bulunan ayrı bir makine dairesinde yer aldığı geleneksel asansör sistemleridir.</p>
  <p>Yüksek hız ve yüksek taşıma kapasitesi gerektiren binalarda, uzun seyir mesafesine sahip gökdelenlerde ve yoğun trafiği olan yapılarda sıklıkla tercih edilmektedir.</p>
  <ul>
    <li>Yüksek seyir hızı (2.5 m/s ve üzeri hızlara ulaşabilme)</li>
    <li>Ağır yük taşıma kapasitesi</li>
    <li>Kolay bakım ve onarım imkanı (Makine dairesinde geniş çalışma alanı)</li>
    <li>Uzun ömürlü ve dayanıklı yapı</li>
  </ul>
</SubpageLayout>
